server:
  port: 8080
  url: https://api.winnticket.store
  logging:
    level:
      root: DEBUG

spring:
  config:
    activate:
      on-profile: local

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://3.36.128.67:5432/winnticket?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
    username: admin
    password: winnticket!@#$

  redis:
    data:
     host: localhost
     port: 6379
     password: null

file:
  upload-dir: /Users/kimhb/uploads

